@import "../../../styles/mixin.scss";
.section {
  padding: 10rem 3rem 3rem 3rem;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  a {
    padding: 2rem;
    box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
      0px 4px 8px -2px rgba(16, 24, 40, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    span:first-of-type {
      @include text("text-sm-bold");
      color: #ddd0d0;
    }

    .eventTitle {
      @include text("text-xl-bold");
      color: #674747;
    }

    .itemLength {
      @include text("text-sm-semibold");
      color: #b39898;
    }

    svg {
      position: absolute;
      right: 2rem;
      font-size: 5rem;
      color: #674747;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
