@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";
.customModal {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  font-size: 2rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: block !important;
    background-color: rgba($color-primary-red, 0.1);
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-primary-red; /* Set the color of the scrollbar thumb */

    border-radius: 6px; /* Optional: Rounded corners for the thumb */
    cursor: pointer;
  }

  @include desktop-md {
    right: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 40rem;
    height: 60rem;
    bottom: 2rem;
    border-radius: 2rem;
  }

  @include desktop-lg {
    height: 80rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .mainSection {
    padding: 2rem 2rem 0 2rem;

    .closeModal {
      cursor: pointer;
      svg {
        font-size: 3rem;
      }
    }

    .content {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 1rem 0;

      button {
        padding: 1rem 1.5rem;
        border-radius: 3rem;
        background-color: $color-primary-red;
        color: #fff;
        border: none;
        @include text("text-sm-medium");
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 1rem;
      }

      a {
        color: $color-primary-red;

        @include text("text-sm-medium");
      }
    }

    .img {
      width: 100%;
      margin: 1rem 0;
      border-radius: 1rem;
    }

    .navigation {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 4rem;
        border-bottom: 1px solid #ddd;
        position: relative;
        top: 3px;

        li {
          border-bottom: 3px solid $color-primary-red;
          padding: 1rem 0;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1.7rem;
        }
      }
    }
  }
  .navContent {
    ul {
      list-style: none;

      li {
        padding: 2rem;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        gap: 2rem;

        svg {
          font-size: 5.5rem;
          color: $color-primary-red;
          border-right: 1px solid #ddd;
          padding-right: 2rem;
        }
      }
    }
  }
}
