@import "../../../styles/mixin.scss";

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  input {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 1.5rem 1rem;
    background: #fff;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #5b5b5b;
    @include text("text-sm-medium");

    &:disabled {
      opacity: 0.3;
    }
  }

  textarea {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 1.5rem 1rem;
    background: #fff;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #5b5b5b;
    @include text("text-sm-medium");
    resize: none;
  }
}

.pricingWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  & > * {
    text-align: center;
    flex-grow: 1;
  }
}

.isFree {
  background-color: #ee2d21;
  color: #ffff;
  border-radius: 8px;

  padding: 1.5rem 1rem;
  font-weight: 700;
}

.freeBtn {
  border-radius: 8px;
  background-color: #fbf9f9;
  padding: 1.5rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputImg {
  display: none;
}

.labelImg {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 1.5rem 1rem;
  background: #fff;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #5b5b5b;
  @include text("text-sm-medium");
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    font-size: 2rem;
  }
}

.submitBtn {
  padding: 1.6rem;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #ee2d21;
  color: #fff;
}
