@import "../../../../styles/mixin.scss";

.activity {
    @include responsive("mobile") {
        background-image: url('../../../../assets/prijovicka.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 20rem;
        margin: 1rem 2rem 0 2rem;
        border-radius: 1rem;
        color: #fff;
        position: relative;
    }

    .activityOverlay {
        @include responsive("mobile") {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 1rem;
        }
    }

    .content {
        @include responsive("mobile") {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }
}