@import url("https://fonts.cdnfonts.com/css/satoshi");
@import "./mixin.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @include responsive("tab-port") {
    font-size: 56.25%;
  }

  @include responsive("mobile") {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Satoshi", sans-serif;
  color: #000;
}

.react-time-picker__wrapper {
  border-radius: 8px;
  border: 1px solid #e0e0e0;

  background: #fff;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #5b5b5b;
  @include text("text-sm-medium");
  padding: 1rem;
  input {
    padding: 0 2rem;
  }
}
