.reviewItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
  border-top: 1px solid #f1f1f1;

  &:last-of-type {
    border-bottom: 1px solid #f1f1f1;
  }
  .index {
    width: 4rem;
    height: 4rem;
    background-color: #ddd0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #674747;
    border-radius: 100px;
  }
}
