@import "../../styles/mixin.scss";

.sectionBody {
  padding: 10rem 3rem;
}

.ReviewPanel {
  margin-top: 5rem;
}

.reviewsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 2rem;
    border-radius: 6px;
    overflow: hidden;

    overflow: hidden;
    img {
      width: 100%;
    }

    span {
      display: block;
      padding: 0 1rem;
    }
  }
}

.spanSub {
  margin-bottom: 2rem;
  display: block;
}

.adminLink {
  display: block;
  padding: 1rem 2rem;
  background-color: #fbfbfb;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  @include text("text-lg-semibold");

  svg {
    font-size: 2.3rem;
  }
}

.reviewStatus {
  font-size: 1.4rem;
  text-transform: uppercase;

  color: #f37022;
}

.approved {
  color: #34c759;
}

.ratedToursPanel {
  margin-top: 5rem;
}

.ratedToursWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.noReviewsNoRatings {
  text-align: center;
  padding: 1rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
