@import "../../../styles/mixin.scss";
.proceedPanel {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 30rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    h2 {
      @include text("display-sm-medium");
      margin-bottom: 1rem;
    }
    button {
      width: 100%;
      color: #fff;
      padding: 1.2rem 0;
      background-color: #f37022;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      @include text("text-sm-medium");
    }
  }

  svg {
    margin: 0 auto;
    font-size: 10rem;
    color: #34c759;
  }
}
