@import '../../styles/mixin.scss';

.item {
    @include responsive("mobile") {
        background-color: #f8f8f8;
        margin: 1rem 0;
        padding: 2rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        @include text('text-xl-semibold');

        &.disabled {
            cursor: default;
            opacity: .4;
        }

        &.active {
            box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.75);
        }
    
        svg {
            @include text('display-sm-bold')
        }
    }
}

.settingsWrapper {
    @include responsive("mobile") {     
        padding: 0 2rem;
    
        .settings {
            margin: 2rem 0;
    
            .general {
                margin: 2rem 0;

                .options {
                    position: relative;
                }
            }
            
            .notifications {
                margin: 4rem 0;
            }
        }
    }

}