@import "../../styles/mixin.scss";
.mainApp {
  padding-bottom: 10rem;

  padding-left: 2rem;
  padding-right: 2rem;

  @include desktop-lg() {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.container {
  @include desktop-md() {
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
    overflow-x: hidden;
  }
}
