.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  .star {
    font-size: 4rem;
    color: #ddd;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      color: #eed70b;
    }
  }
}

.fillerFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
