@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";
.nav {
  @include responsive("mobile") {
    background-color: #fff;
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    border-radius: 10rem;
    margin: 0 2rem;
    padding: 1rem 0;
    box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.75);
  }

  ul {
    @include responsive("mobile") {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
    }

    .link {
      @include responsive("mobile") {
        color: #000;
        font-size: 3rem;

        &.active {
          color: $color-primary-red;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 0.6rem;
            height: 0.6rem;
            bottom: 0;
            left: 1.1rem;
            background-color: $color-primary-red;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
