@import "../../../styles/mixin.scss";
.activities {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include desktop() {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop-md() {
    grid-template-columns: repeat(3, 1fr);
  }
}
