@import "../../../styles/mixin.scss";
.activities {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  gap: 2rem;
  position: relative;
  @include desktop() {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop-md() {
    grid-template-columns: repeat(3, 1fr);
  }
}

.noActivities {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
